@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* make default body height to it's view */
}
/* Book Shelf Start */
.book-shelf {
  display: flex;
  width: 95vw;
  font-family: Mulish, sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.book-shelf .panel:first-child {
  background-image: url('./img/1.jpg');
}
.book-shelf .panel:nth-child(2) {
  background-color: #f4c430;
  color: #000;
}
.book-shelf .panel:nth-child(3) {
  background-color: #d8dcd6;
}
.book-shelf .panel:nth-child(4) {
  background-color: #36454f;
}
.book-shelf .panel:nth-child(5) {
  background-color: #40e0d0;
}
.book-shelf .panel {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 1%;
  position: relative;
  transition: flex 0.7s ease-in;
  transform: rotate(10deg);
}
.book-shelf > .panel p {
  font-size: x-large;
  position: absolute;
  text-align: center;
  left: 35%;
  bottom: 20%;
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: bold;
}
.book-shelf > .panel.active {
  flex: 5;
  transform: rotate(0deg);
}
.book-shelf > .panel.active p {
  display: none;
  transition: opacity 0.3s ease-in 0.5s;
}
@media (max-width: 480px) {
  .book-shelf .panel:nth-child(4),
  .book-shelf .panel:nth-child(5) {
    display: none;
  }
  .book-shelf .panel {
    background-size: auto 90vw;
    transform: rotate(0deg);
  }
  .book-shelf > .panel p {
    left: 1vw;
    bottom: 20vh;
    font-size: large;
  }
}
/* Book Shelf Ends */
